::-webkit-scrollbar {
    display: none;
}

#offlineIndicator {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #252525;
    color: #fff;
    padding: 6px 14px;
    border: 1px solid #535353;
    border-radius: 6px;
    font-size: 12px;
    display: none;
    z-index: 9999;
    white-space: nowrap;
}

html {
    scrollbar-width: none;
}

html {
    -ms-overflow-style: none;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('res/fonts/BaiJamjuree-SemiBold.woff2') format('woff2'),
         url('res/fonts/BaiJamjuree-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('res/fonts/Gilroy-Regular.woff2') format('woff2'),
         url('res/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 16px;
    background-color: #1B1B1B; /* новый фон */
    color: #FFFFFF; /* текст светлый для контраста */
    line-height: 1.5;
    padding-top: calc(80px + env(safe-area-inset-top));
}

html, body {
    touch-action: manipulation;
    overscroll-behavior: none;
}

.summer-label {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #B2B2B2;
    margin-bottom: 4px;
    margin-top: 0px;
}

.winter-label {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #B2B2B2;
    margin-bottom: 4px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    font-size: 16px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    border: 1px solid #333333;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    background-color: #1F1F1F;
    color: #B9BDBD;
    transition: all 0.2s ease;
}

input::placeholder {
    color: #848484;
    font-size: 16px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
}

input:focus {
    border-color: #969696;
}

input.error {
    border-color: #FF3B30;
    box-shadow: 0 0 2px rgba(255,59,48,0.8);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    font-size: 20px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    border: 1px solid #333333;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    background-color: #252525;
    color: #6F6F6F;
    transition: all 0.2s ease;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

button:active {
    background-color: #363535;
    border: 1px solid #535353;
    color: #B9BDBD;
    transform: scale(0.97);
}

button.calc-button {
    background-color: #252525;
    border: 1px solid #333333;
    border-radius: 8px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding: 12px;
    transition: all 0.2s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

button.calc-button span {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 20px;
    background: linear-gradient(90deg, #6224D7, #FF105E, #EBBE22);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

button.calc-button:hover {
    opacity: 0.9;
}

button.calc-button:active {
    background-color: #363535;
    border: 1px solid #535353;
    transform: scale(0.97);
}

.output-box {
    width: 100%;                     
    min-height: calc(3 * 48px);
    max-height: none;
    background-color: #252525;       
    border: 1px solid #333333;       
    border-radius: 8px;               
    padding: 12px;
    margin-top: 8px;
    box-sizing: border-box;
    color: #B2B2B2;
    font-family: 'Gilroy', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;                
    transition: height 0.3s ease;    
    white-space: pre-line;
}

.modal-close {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 14px;

    margin-top: 16px;
    padding: 10px 16px;

    background-color: #363535;
    border: 1px solid #535353;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
}

.block {
    position: relative;
}

#btnAbout {
    width: 50px;
    height: 50px;
    margin-top: 8px;
    margin-left: auto;

    border-radius: 8px;
    border: 1px solid #333333; 
    background-color: #252525;
    color: #B2B2B2;
    font-family: 'Gilroy', sans-serif;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background-color: #252525;
    border: 1px solid #535353;
    padding: 20px;
    border-radius: 16px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.about-content {
    display: flex;
    gap: 16px;
    width: 100%;
}

.about-left {
    flex: 0 0 auto;
    margin-right: 20px;
    margin-top: 7%;
}

.modal-logo {
    width: 80px;
    height: auto;
}

.about-right {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}

.about-title {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 8px;
    color: #FFFFFF;
}

.about-text {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #B2B2B2;
}

.about-text a {
    color: #B2B2B2;
    text-decoration: underline;
}

.about-copyright {
    font-family: 'Gilroy', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #8B8B8B;
    margin-top: 8px;
}

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background-color: #202020;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 18px;
    padding-top: env(safe-area-inset-top);
    box-sizing: border-box;
    z-index: 1000;
}

.app-icon {
    height: 25px;
    width: auto;
}   

* {
    -webkit-tap-highlight-color: transparent;
}

.row {
    display: flex;
    gap: 10px;
}

.row input {
    width: 50%;
    margin-top: 0;
}

#splash-screen {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background-color: #252525;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    z-index: 2000;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.splash-icon {
    width: 150px;
    height: auto;
    margin-bottom: 6px;
}

* {
    user-select: none;
    -webkit-user-select: none;
}
